################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntertainmentGuild/EntertainmentGuild/EntertainmentGuild.csproj
/EntertainmentGuild/EntertainmentGuild/EntertainmentGuild.csproj
