USE [master]
GO
/****** Object:  Database [StoreDB]    Script Date: 10/28/2023 2:59:05 PM ******/
CREATE DATABASE [StoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreDB]
GO
/****** Object:  Table [dbo].[Book_genre]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_genre](
	[subGenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Book_genre] PRIMARY KEY CLUSTERED 
(
	[subGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_genre NEW]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_genre NEW](
	[subGenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Book_genre NEW] PRIMARY KEY CLUSTERED 
(
	[subGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game_genre]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_genre](
	[subGenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Game_genre] PRIMARY KEY CLUSTERED 
(
	[subGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genreID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_genre]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_genre](
	[subGenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Movie_genre] PRIMARY KEY CLUSTERED 
(
	[subGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[customer] [int] NULL,
	[StreetAddress] [nvarchar](255) NULL,
	[PostCode] [int] NULL,
	[Suburb] [nvarchar](255) NULL,
	[State] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patrons]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patrons](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Salt] [varchar](32) NULL,
	[HashPW] [varchar](64) NULL,
 CONSTRAINT [PK_Patrons] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Author] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Genre] [int] NULL,
	[subGenre] [int] NULL,
	[Published] [date] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsInOrders]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsInOrders](
	[OrderId] [int] NULL,
	[produktId] [int] NULL,
	[Quantity] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source](
	[sourceid] [int] IDENTITY(1,1) NOT NULL,
	[Source_name] [nvarchar](max) NULL,
	[externalLink] [nvarchar](max) NULL,
	[Genre] [int] NULL,
 CONSTRAINT [PK_Source] PRIMARY KEY CLUSTERED 
(
	[sourceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocktake]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocktake](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[SourceId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Stocktake] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TO]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TO](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[PatronId] [int] NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[StreetAddress] [nvarchar](255) NULL,
	[PostCode] [int] NULL,
	[Suburb] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](50) NULL,
	[CardOwner] [nvarchar](50) NULL,
	[Expiry] [varchar](5) NULL,
	[CVV] [int] NULL,
 CONSTRAINT [PK_TO] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/28/2023 2:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[isAdmin] [bit] NULL,
	[Salt] [varchar](32) NULL,
	[HashPW] [varchar](64) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book_genre] ON 

INSERT [dbo].[Book_genre] ([subGenreID], [Name]) VALUES (1, N'Fiction')
INSERT [dbo].[Book_genre] ([subGenreID], [Name]) VALUES (2, N'Historical Fiction')
INSERT [dbo].[Book_genre] ([subGenreID], [Name]) VALUES (3, N'Fantasy/Sci-Fi')
SET IDENTITY_INSERT [dbo].[Book_genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Book_genre NEW] ON 

INSERT [dbo].[Book_genre NEW] ([subGenreID], [Name]) VALUES (12, N'Adventure')
INSERT [dbo].[Book_genre NEW] ([subGenreID], [Name]) VALUES (13, N'Political')
INSERT [dbo].[Book_genre NEW] ([subGenreID], [Name]) VALUES (14, N'French')
SET IDENTITY_INSERT [dbo].[Book_genre NEW] OFF
GO
SET IDENTITY_INSERT [dbo].[Game_genre] ON 

INSERT [dbo].[Game_genre] ([subGenreID], [Name]) VALUES (1, N'RPG')
INSERT [dbo].[Game_genre] ([subGenreID], [Name]) VALUES (2, N'Musical game')
INSERT [dbo].[Game_genre] ([subGenreID], [Name]) VALUES (3, N'Puzzle game')
SET IDENTITY_INSERT [dbo].[Game_genre] OFF
GO
INSERT [dbo].[Genre] ([genreID], [Name]) VALUES (1, N'Books')
INSERT [dbo].[Genre] ([genreID], [Name]) VALUES (2, N'Movies')
INSERT [dbo].[Genre] ([genreID], [Name]) VALUES (3, N'Games')
GO
SET IDENTITY_INSERT [dbo].[Movie_genre] ON 

INSERT [dbo].[Movie_genre] ([subGenreID], [Name]) VALUES (1, N'Drama')
INSERT [dbo].[Movie_genre] ([subGenreID], [Name]) VALUES (2, N'Comedy')
INSERT [dbo].[Movie_genre] ([subGenreID], [Name]) VALUES (3, N'Crime')
SET IDENTITY_INSERT [dbo].[Movie_genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [customer], [StreetAddress], [PostCode], [Suburb], [State]) VALUES (3, 2, N'45 Rainbow Road', 2204, N'Marrickville', N'NSW')
INSERT [dbo].[Orders] ([OrderID], [customer], [StreetAddress], [PostCode], [Suburb], [State]) VALUES (4, 5, N'3 Toad Harbor', 1405, N'Chullora', N'NSW')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Patrons] ON 

INSERT [dbo].[Patrons] ([UserID], [Email], [Name], [Salt], [HashPW]) VALUES (1, N'jane.l.j.citizen@somemail.com', N'Jane Citizen', N'$2a$10$OHP133zdqPcy9wM4aJyK0u', N'$2a$10$OHP133zdqPcy9wM4aJyK0uOXfzr2Ip.NiFfP1mjMjgYS/nqR4RfgG')
SET IDENTITY_INSERT [dbo].[Patrons] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductsInOrders] ON 

INSERT [dbo].[ProductsInOrders] ([OrderId], [produktId], [Quantity], [Id]) VALUES (3, 50, 1, 1)
INSERT [dbo].[ProductsInOrders] ([OrderId], [produktId], [Quantity], [Id]) VALUES (3, 238, 3, 2)
INSERT [dbo].[ProductsInOrders] ([OrderId], [produktId], [Quantity], [Id]) VALUES (3, 2, 1, 3)
SET IDENTITY_INSERT [dbo].[ProductsInOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Source] ON 

INSERT [dbo].[Source] ([sourceid], [Source_name], [externalLink], [Genre]) VALUES (1, N'Hard copy book', NULL, 1)
INSERT [dbo].[Source] ([sourceid], [Source_name], [externalLink], [Genre]) VALUES (2, N'Audible', N'https://www.audible.com.au/', 1)
INSERT [dbo].[Source] ([sourceid], [Source_name], [externalLink], [Genre]) VALUES (3, N'Steam', N'https://store.steampowered.com/', 3)
SET IDENTITY_INSERT [dbo].[Source] OFF
GO
SET IDENTITY_INSERT [dbo].[Stocktake] ON 

INSERT [dbo].[Stocktake] ([ItemId], [SourceId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 1, 29, 47.35)
INSERT [dbo].[Stocktake] ([ItemId], [SourceId], [ProductId], [Quantity], [Price]) VALUES (2, 1, 2, 15, 35.37)
INSERT [dbo].[Stocktake] ([ItemId], [SourceId], [ProductId], [Quantity], [Price]) VALUES (3, 2, 2, 100, 29.76)
GO
SET IDENTITY_INSERT [dbo].[Stocktake] OFF
GO
SET IDENTITY_INSERT [dbo].[TO] ON 

INSERT [dbo].[TO] ([customerID], [PatronId], [Email], [PhoneNumber], [StreetAddress], [PostCode], [Suburb], [State], [CardNumber], [CardOwner], [Expiry], [CVV]) VALUES (2, 1, N'jane.l.j.citizen@somemail.com', N'', N'', 7643, N'hggas', N'TAS', N'55436', N'Jane Citizen', N'04/24', 465)
INSERT [dbo].[TO] ([customerID], [PatronId], [Email], [PhoneNumber], [StreetAddress], [PostCode], [Suburb], [State], [CardNumber], [CardOwner], [Expiry], [CVV]) VALUES (5, NULL, N'virginia.woolf@hotmail.com', N'0422345335', N'3 Toad Harbor', 1405, N'Chullora', N'NSW', N'21442', N'Virginia Woolf', N'12/30', 230)
SET IDENTITY_INSERT [dbo].[TO] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Email], [Name], [isAdmin], [Salt], [HashPW]) VALUES (1, N'adminAccount', NULL, N'Steve Smith', 1, N'$2a$10$yhwGCsNnpTQpjDbB/xva7.', N'$2a$10$yhwGCsNnpTQpjDbB/xva7.daP4N1edciBcjsrtB7zn9nyFFgCXyOO')
INSERT [dbo].[User] ([UserID], [UserName], [Email], [Name], [isAdmin], [Salt], [HashPW]) VALUES (4, N'queenOS', N'silvia.queen@nomail.com', N'Silvia', 0, N'f8efd1ce20154c96a56e79e2f9730188', N'8fae4639092fe3554c2407d0c63be7469f3a73cf35f7a124a1014ce348e347a2')
INSERT [dbo].[User] ([UserID], [UserName], [Email], [Name], [isAdmin], [Salt], [HashPW]) VALUES (5, N'storeManager', N'bob@thisemail.com', N'Bob Manager', 1, N'9300bf0856b745c7916f7d780eafebfc', N'16383d0e7734bfc960c0c1ca8b608542a137abb214167f02b46a931755b6de5a')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_TO] FOREIGN KEY([customer])
REFERENCES [dbo].[TO] ([customerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_TO]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Genre] FOREIGN KEY([Genre])
REFERENCES [dbo].[Genre] ([genreID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Genre]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Users] FOREIGN KEY([LastUpdatedBy])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Users]
GO
ALTER TABLE [dbo].[ProductsInOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInOrders_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ProductsInOrders] CHECK CONSTRAINT [FK_ProductsInOrders_Orders]
GO
ALTER TABLE [dbo].[ProductsInOrders]  WITH CHECK ADD  CONSTRAINT [FK_ProductsInOrders_Stocktake] FOREIGN KEY([produktId])
REFERENCES [dbo].[Stocktake] ([ItemId])
GO
ALTER TABLE [dbo].[ProductsInOrders] CHECK CONSTRAINT [FK_ProductsInOrders_Stocktake]
GO
ALTER TABLE [dbo].[Source]  WITH CHECK ADD  CONSTRAINT [FK_Source_Genre] FOREIGN KEY([Genre])
REFERENCES [dbo].[Genre] ([genreID])
GO
ALTER TABLE [dbo].[Source] CHECK CONSTRAINT [FK_Source_Genre]
GO
ALTER TABLE [dbo].[Stocktake]  WITH CHECK ADD  CONSTRAINT [FK_Stocktake_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Stocktake] CHECK CONSTRAINT [FK_Stocktake_Product]
GO
ALTER TABLE [dbo].[Stocktake]  WITH CHECK ADD  CONSTRAINT [FK_Stocktake_Source] FOREIGN KEY([SourceId])
REFERENCES [dbo].[Source] ([sourceid])
GO
ALTER TABLE [dbo].[Stocktake] CHECK CONSTRAINT [FK_Stocktake_Source]
GO
ALTER TABLE [dbo].[TO]  WITH CHECK ADD  CONSTRAINT [FK_TO_Patrons] FOREIGN KEY([PatronId])
REFERENCES [dbo].[Patrons] ([UserID])
GO
ALTER TABLE [dbo].[TO] CHECK CONSTRAINT [FK_TO_Patrons]
GO
USE [master]
GO
